<div class="page">
  <div>
    <h2>{{ title }}</h2>
  </div>
  <div class="controller" id="controller">
    <form [formGroup]="actionController">
      <table class="agent-actions">
        <thead>
          <tr>
            <th rowspan="4" valign="bottom">Percept</th>
            <th colspan="4">Position</th>
          </tr>
          <tr>
            <th data-input="left">Up</th>
            <th data-input="right">Right</th>
            <th data-input="right">Down</th>
            <th data-input="right">Left</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th data-input="clean">Clean</th>
            <td data-action="up-clean">
              <select formControlName="upClean" class="custom-select">
                <option value="UP">UP</option>
                <option value="LEFT">LEFT</option>
                <option value="RIGHT" selected>RIGHT</option>
                <option value="DOWN">DOWN</option>
                <option value="SUCK">SUCK</option>
              </select>
            </td>
            <td data-action="right-clean">
              <select formControlName="rightClean" class="custom-select">
                <option value="UP">UP</option>
                <option value="LEFT">LEFT</option>
                <option value="RIGHT">RIGHT</option>
                <option value="DOWN" selected>DOWN</option>
                <option value="SUCK">SUCK</option>
              </select>
            </td>
            <td data-action="down-clean">
              <select formControlName="downClean" class="custom-select">
                <option value="UP">UP</option>
                <option value="LEFT" selected>LEFT</option>
                <option value="RIGHT">RIGHT</option>
                <option value="DOWN">DOWN</option>
                <option value="SUCK">SUCK</option>
              </select>
            </td>
            <td data-action="left-clean">
              <select formControlName="leftClean" class="custom-select">
                <option value="UP" selected>UP</option>
                <option value="LEFT">LEFT</option>
                <option value="RIGHT">RIGHT</option>
                <option value="DOWN">DOWN</option>
                <option value="SUCK">SUCK</option>
              </select>
            </td>
          </tr>
          <tr>
            <th data-input="dirty">Dirty</th>
            <td data-action="up-dirty">
              <select formControlName="upDirty" class="custom-select">
                <option value="UP">UP</option>
                <option value="LEFT">LEFT</option>
                <option value="RIGHT">RIGHT</option>
                <option value="DOWN">DOWN</option>
                <option value="SUCK" selected>SUCK</option>
              </select>
            </td>
            <td data-action="right-dirty">
              <select formControlName="rightDirty" class="custom-select">
                <option value="UP">UP</option>
                <option value="LEFT">LEFT</option>
                <option value="RIGHT">RIGHT</option>
                <option value="DOWN">DOWN</option>
                <option value="SUCK" selected>SUCK</option>
              </select>
            </td>
            <td data-action="down-dirty">
              <select formControlName="downDirty" class="custom-select">
                <option value="UP">UP</option>
                <option value="LEFT">LEFT</option>
                <option value="RIGHT">RIGHT</option>
                <option value="DOWN">DOWN</option>
                <option value="SUCK" selected>SUCK</option>
              </select>
            </td>
            <td data-action="left-dirty">
              <select formControlName="leftDirty" class="custom-select">
                <option value="UP">UP</option>
                <option value="LEFT">LEFT</option>
                <option value="RIGHT">RIGHT</option>
                <option value="DOWN">DOWN</option>
                <option value="SUCK" selected>SUCK</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="content">
    <span
      class="place"
      [@placeStatus]="places[0].status"
      id="place0"
      (click)="dirtyPlace(0)"
    ></span>
    <span
      class="place"
      [@placeStatus]="places[3].status"
      id="place1"
      (click)="dirtyPlace(3)"
    ></span>
    <span
      class="place"
      [@placeStatus]="places[2].status"
      id="place2"
      (click)="dirtyPlace(2)"
    ></span>
    <span
      class="place"
      [@placeStatus]="places[1].status"
      id="place3"
      (click)="dirtyPlace(1)"
    ></span>

    <div class="machine" [@stateMachine]="state">
      <img src="../assets/image 3.svg" width="100" />
    </div>
  </div>
</div>
